.c-404 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.c-404 .num-404 {
    font-size: 6rem;
    margin: 2rem;
}

@media screen and (max-width: 48em) {
  .c-404 .num-404 span {
    display: block;
    font-size: 3rem;
  }
}

.c-404 h1, .c-404 h2 {
    margin: 2rem;
}

.c-404 a {
  margin: 1rem;
  background-color: transparent;
  border: 2px solid #e7e7e7;
  padding: 1rem 2rem;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 1.2rem;
}

.c-404 a:hover {
  background-color: #e7e7e7;
  color: #212121;
}