{% extends "base.html" %} {% block content %}

<style>
  #wrapper {
    padding: 1.5rem;
    color: white;
    width: 80%;
    margin: 0 auto;
  }

  h1,
  h2 {
    margin: 0.5rem 0;
  }

  hr {
    border: 2px solid white;
    border-radius: 5px;
  }

  #wrapper a {
    color: #4a90e2;
    text-decoration: underline;
  }

  ul {
    list-style: none;
  }

  #wrapper ul li {
    padding: 1rem;
  }
</style>

<div id="wrapper">
  <h1>
    <a href="https://binventor.com/">Binventor</a>
  </h1>
  <br />
  <p>
    <strong>Binventor</strong> is a text pasting web app that aims for simple
    &amp; easy sharing of code snippets.
  </p>
  <br />
  <p>
    I started making it as a personal project for myself, in order to improve my
    web skills. Then, I got into the Computer Science class at my high school,
    so I chose to put it online for my class to use.
  </p>
  <br />
  <p>
    If you are some random internet person who deliberately/accidentally got
    here, don't worry, my auto-non-cs-class-person-detector will find &amp;
    eliminate you!
  </p>
  <br />
  <hr />
  <br />
  <h2>Features:</h2>
  <ul>
    <li>
      Manually choosing your code's programming language? no need! Binventor
      will automatically highlight it for you. (Thanks
      <a href="https://highlightjs.org/">highlight.js</a>!)
    </li>
    <hr />
    <li>
      <strong>Protip:</strong> name your paste with the extension of its
      language to force the highlighting of that language. <br />
      e.g. A paste name <em>"script.ts"</em> will make sure your code is
      highlighted as TypeScript and not as JavaScript!
    </li>
    <hr />
    <li>
      No more ugliness or unresponsive design! (Forgive me, Pastebin), Binventor
      is built with modern standards in mind.
    </li>
    <hr />
    <li>
      Your pastes will be deleted ONLY when you want them to. Select the
      expiration time you think is best.
    </li>
    <hr />
    <li>
      Use the keyboard shortcuts you're already familiar with, or, you know..
      the regular buttons.
    </li>
    <hr />
  </ul>
  <br />
  <p>
    If using a computer, you can use <em><strong>CTRL + S</strong></em> to save
    &amp; get a shareable link, no need to use the button!
  </p>
  <br />
  <p>
    If you want to help me by contributing to this project, feel free to create
    a new pull request.
  </p>
  <br />
  <p>Thank you all for using my website, <strong>Tomer.</strong></p>
</div>
{% endblock %}
