<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/normalize.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dracula.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <script src="https://kit.fontawesome.com/323ecbbd5b.js"></script>
    {% if title %}
    <title>{{ title }} | QPastes</title>
    {% else %}
    <title>QPastes</title>
    {% endif %}
  </head>
  <body>
    <div class="container">
      <header>
        <a href="{{ url_for('index') }}" class="logo"
          ><i class="fas fa-clone"></i>&nbsp;QPastes</a
        >
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"
          ><span class="navicon"></span
        ></label>
        <ul class="menu">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li>
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/TomerShech/qpastes/pulls"
              >Contribute&ensp;<i class="fas fa-external-link-alt"></i
            ></a>
          </li>
        </ul>
      </header>
      <main>
        {% block content %}{% endblock %}
      </main>
      <footer>
        <div>&copy; 2019 QPastes.com</div>
        <div>Made with <i class="fas fa-heart"></i> by Tomer</div>
        <div>
          <a
            title="Follow me on GitHub!"
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/TomerShech/"
            ><i class="fab fa-github"></i
          ></a>
          <a
            title="Add me on Discord!"
            target="_blank"
            rel="noopener noreferrer"
            href=""
            ><i class="fab fa-discord"></i
          ></a>
        </div>
      </footer>
    </div>
    <script src="../static/js/highlight.pack.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="../static/js/index.js"></script>
  </body>
</html>
