{% extends "base.html" %} 

{% block content %}
<link rel="stylesheet" href="../static/css/index.css" />

<form action="/submit" method="POST">
  <textarea
    class="codeta"
    spellcheck="false"
    placeholder="Your beautiful code here..."
    autofocus
    onkeydown="insertTab(this, event);"
    name="paste_body"
  ></textarea>
  <div class="btns">
    <input type="text" name="paste_name" placeholder="Paste name (optional)" maxlength="100" />
    <select name="expiration">
      <option value="10">Expiration time (default 10 minutes)</option>
      <option value="60">1 Hour</option>
      <option value="1440">1 Day</option>
      <option value="10080">1 Week</option>
      <option value="43800">1 Month</option>
    </select>
    <input id="submit_btn" type="submit" value="Create New Paste!" />
  </div>
</form>

{% endblock %}
