{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />

<form action="{{ url_for('submit') }}" method="post">
  <textarea
    class="codeta"
    spellcheck="false"
    placeholder="Your beautiful code here..."
    autofocus
    name="paste_body"
  ></textarea>
  <div class="btns">
    <input
    id="paste_name"
    type="text"
    name="paste_name"
    placeholder="Paste name (optional)"
    maxlength="100"
    />
    <select name="expiration" id="exp">
      <option value="10">Expire in 10 Minutes</option>
      <option value="60">Expire in 1 Hour</option>
      <option selected value="1440">Expire in 1 Day</option>
      <option value="10080">Expire in 1 Week</option>
      <option value="43800">Expire in 1 Month</option>
    </select>
    <input id="submit_btn" type="submit" value="Paste!" />
  </div>
</form>

<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@5"></script>
<script>
  tippy('#paste_name', {
    content: "Protip: name your paste with the extension of its language to force highlighting! 'script.ts' will make sure it's TypeScript and not JS!"
  });
  tippy('#exp', {
    content: "Select the expiration time that fits best!"
  });
</script>
{% endblock %}
