{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/paste.css') }}">

<div class="actions">
  <a id="plink"></a>
  <button onclick="copyToClipboard();"><span class="icon-copy"></span></button>
</div>

<pre><code>{{ pbody }}</code></pre>

<script>
  const a = document.getElementById("plink");
  const code = document.querySelector("code");

  a.innerHTML = window.location.href;
  a.href = window.location.href;

  function copyToClipboard() {
    const range = document.createRange();
    range.selectNode(a);
    window.getSelection().removeAllRanges(); // clear current selection
    window.getSelection().addRange(range); // select text
    document.execCommand("copy"); // copy
    window.getSelection().removeAllRanges(); // deselect
    Swal.fire({
      title: "Link has been copied",
      type: "success"
    });
  }
</script>

{% endblock %}
