{% extends "base.html" %} 

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recent.css') }}" />
{% if ptuple %}
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Posted</th>
    </tr>
  </thead>
  <tbody>
    {% for p in ptuple %} 
    {% set ago, url = now - p.created_at, request.url_root + p.random_uuid %}

    <tr>
      <td>
        <a href="{{ url }}">{{ p.pname }}</a>
      </td>
      {% if ago.seconds <= 60 %}
      <td>{{ ago.seconds }} sec ago</td>
      {% elif ago.seconds > 60 and ago.seconds <= 3600 %}
      <td>{{ ago.seconds // 60 }} min ago</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<h1>No recently posted pastes :(</h1>
{% endif %} 
{% endblock %}
