{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recent_pastes.css') }}" />

<h1>Latest created pastes</h1>
<h3>(10 Minutes, 1 Hour & 1 Day ago)</h3>

{% if recent_pastes %}
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Posted</th>
      <th>Will be deleted in</th>
    </tr>
  </thead>
  <tbody>
    {% for p in recent_pastes %} {% set ago, url = now - p.created_at,
    request.url_root + p.random_uuid %}
    <tr>
      <td>
        <a href="{{ url }}">{{ p.pname }}</a>
      </td>
      {% if ago.seconds <= 59 %}
      <td>{{ ago.seconds }} sec ago</td>
      {% elif ago.seconds > 59 and ago.seconds <= 3540 %}
      <td>{{ ago.seconds // 60 }} min ago</td>
      {% elif ago.seconds > 3540 and ago.seconds <= 86400 %}
      <td>{{ ago.seconds // 3600 }} hour(s) ago</td>
      {% endif %}
      <td>
        {{ p.delete_at.replace(microsecond=0) - now.replace(microsecond=0) }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<div class="headers">
  <h1>No current posted pastes :(</h1>
  <h2>Create one yourself, or come back later</h2>
  {% endif %} {% endblock %}
</div>
